@import './variables';

body {
  font-family: var(--font-primary);
  background-color: var(--color-light);
  color: var(--color-dark);
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
}

button {
  cursor: pointer;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
