:root {
    --color-primary: #F90598;
    --color-secondary: #F02C7D;
    --color-accent: #EC5852;
    --color-success: #9DAF6D;
    --color-dark: #1E2326;
    --color-light: #FFFFFF;
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
  }
  